<div class="row">
  <div class="col-md-10">
    <h1>This is supposed to be a title for the Homepage!</h1>
  </div>
  <div class="col-md-5">
    <div class="text-center">
      <span class="glyphicon glyphicon-search gi-5x" aria-hidden="true"></span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam praesentium velit eum fugiat consequuntur accusantium quo deserunt, illum, quidem, perferendis dicta eligendi cupiditate ipsa officiis tempore cumque amet fuga alias.</p>
  </div>
  <div class="col-md-5">
    <div class="text-center">
      <span class="glyphicon glyphicon-home gi-5x" aria-hidden="true"></span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis blanditiis velit assumenda perspiciatis repellat nemo, recusandae non quia eaque veniam cum, aliquam nobis optio tenetur totam distinctio voluptate dignissimos autem!</p>
  </div>
</div>
<div class="row">
  <div class="jumbotron">
    <h1>This is a JUMBOTRON!!!</h1>
  </div>
</div>
